# Dependências
node_modules/

# Build
dist/
build/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Prisma
prisma/*.db

# Logs
*.log
npm-debug.log*

# Editor/OS
.vscode/
.idea/
.DS_Store

# Insomnia (opcional, se não quiser versionar)
# insomnia/

# TypeScript
*.tsbuildinfo